body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
  
.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  top: 0;
  right: 0;
  z-index: 1000;
  font-size: 20px;
  background-color:rgba(10, 10, 13,0.6);
}

.nav-menu{
  text-align: right;
  float:right;
}
/* nav bar buttons */
li {
  display: inline;
  float: left;
  padding-left: 15px;
  }

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color:white;
  }

li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }

li a:hover {
  background-color: #2c2c2c;
  }

.active {
  background-color: #2c2c2c;
  }

/* nav bar icons */
.nav-icon{
  display: flex;
  align-items: center;
}

.nav-icon i{
  margin-right: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  transition: all .42s ease;
}

.nav-icon i:hover{
  transform: scale(1.1);
  color: #2c2c2c;

}

#menu-icon{
  font-size: 35px;
  color: #fff;
  z-index: 10001;
  cursor: pointer;
}
 
/*  ---------------------*/
html {
  box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 300px;
    height: 450px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(39, 39, 50);
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* footer section */
.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: rgb(128, 53, 53);
  color: white;
}
.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
  font-size: 12px;
}
